/***********************************************************************************************
La seule est unique feuille de style CSS du site refuges.info

Pourquoi une feuille de style en .php ?
- le but c'est de faire un style dynamique selon la période de l'année pour changer les couleurs ;-) 
ouais je sais, c'est franchement de la frime -- sly

Sommaire:
    -1 Mise en page generale (types HTML, liens, infobulles)
    -2 menus du haut et du bas
    -3 classes speciales (sur-mesure, googmaps, fiche, ...)
    -4 PUB
***********************************************************************************************/

:root {
  --main-color: #F97B00;
  --main-color-dark: #ae5600;
  --main-color-darkdark: #4a2400;
  --main-color-light: #FFA500;
  --main-color-lightlight: #fff1d8;

  --grey-color-light: #ccc;
  --grey-color-lightlight: #eee;
  --grey-color-dark: #AAA;
  --grey-color-darkdark: #777;
}

/*==================================================================*/
/* MISE EN PAGE GENERALE DES TYPES                                  */
/*==================================================================*/
/*=====GENERAL=======*/

html {
  width: 100%; /* jmb 01/2008 , pour gmaps */
  font-family: "Fira Sans", "Open Sans", Arial, sans-serif;
  font-size: 18px;
  height: 100%;
}
body { 
  margin: 0px; /* il le faut pour FF */
  width: 100%; /* jmb 01/2008 , pour gmaps */
  height: 100%;
  background-color: var(--main-color);
}
section { 
  background-color: white;
}
article > .contenu, article.contenu, div.contenu {
  width: 90%;
  margin: 0 auto;
  padding: 15px 0 30px 0;
}

.bloctitre .titre {
  background: var(--grey-color-light);
  color: black;
  font-variant: small-caps;
  margin: -8px -8px 8px -8px;
  padding: 8px;
  font-weight: 400;
  font-size: 18px;
  border: none;
  display: block;
  width: 100%;
}
.bloctitre {
  border: 0;
  border-bottom: 4px solid var(--grey-color-light);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 8px;
  background: var(--grey-color-lightlight);
  width: auto;
}

/*=====TEXTE=======*/


/*======TITRES=======*/
/* on commence au H3 car 1,2 sont vraiment trop gros. je sais ... CSS .... mais maintenant c'est fait.*/
h2 { /* titre des pages */
  padding: 10px 5%;
  font-weight: 300;
  font-size: 25px;
  margin: 0 0 10px 0; /* sous FF, la padding par defo est immense */
  background: var(--grey-color-light);
  border-bottom: 2px dashed var(--grey-color-dark);
  margin: 0;
  }
h3 { /* titre des sections de pages */
  padding: 10px 5%;
  background: var(--grey-color-lightlight);
  font-weight: 300;
  font-size: 25px;
  margin: 0 0 10px 0; /* sous FF, la padding par defo est immense */
  }
h4 { /* note en haut de page */
  background: var(--grey-color-light);
  border-bottom: 2px dashed var(--grey-color-dark);
  font-weight: 400;
  font-variant: small-caps;
  padding: 5px 5% ; 
  font-size: 15px;
  margin: 0;
}
h5 { /* note en haut de page */
  border-bottom: 1px solid var(--grey-color-light);
  font-weight: 400;
  font-variant: small-caps; 
  font-size: 22px;
  margin: 10px 0;
  padding: 3px 0;
}
p {
  margin: 0;
  }
/*===== LISTES=====*/
ul { /* les listes , y compris news en page de garde */
  list-style-type: none;
  margin: 0px;
  padding: 0px 0px 0px 5px;
  }

/*====== FORMULAIRES======*/
/* Utilisé pour le formulaire de création ou modification pour les 3 champs libres proprio, accès, remarques */

fieldset {
  margin-bottom: 25px;
}

input[type=checkbox] { display:none; } /* to hide the checkbox itself */
input[type=checkbox] + label:before {
  margin-right: 5px;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: var(--main-color);
  color: white;
  font-size: 25px;
  padding: 0 2px 5px 2px;
  vertical-align: middle;
  margin-bottom: 3px;
}
input[type=checkbox] + label:before { content: "\00A0"; } /* unchecked icon */
input[type=checkbox]:checked + label:before { content: "\2713"; } /* checked icon */
input[type=checkbox] + label:hover:before { color: var(--main-color-light) !important; content: "\2713"; }
input[type=checkbox]:checked + label:hover:before { color: var(--main-color-lightlight) !important; }
input[type=radio] { display:none; } /* to hide the checkbox itself */
input[type=radio] + label:before {
  content: "";
  margin-right: 5px;
  border-radius: 100px;
  display: inline-block;
  width: 8px;
  height: 8px;
  border: 4px solid var(--main-color);
  vertical-align: middle;
  margin-bottom: 3px;
}
input[type=radio] + label:before { background: var(--main-color); } /* unchecked icon */
input[type=radio]:checked + label:before { background: white; } /* checked icon */
input[type=radio] + label:hover:before { background: var(--main-color-light) !important; }
input[type=radio]:checked + label:hover:before { background: var(--main-color-lightlight) !important; }
input[type=text], textarea {
  padding: 5px 10px;
  background: var(--grey-color-light);
  border: none;
  border-left: 6px solid var(--grey-color-dark);
  margin-bottom: 3px;
}
select {
  padding: 5px 10px;
  background: var(--grey-color-light);
  border: none;
  border-left: 6px solid var(--grey-color-dark);
  margin-bottom: 3px;
}
label {
  margin-bottom: 3px;
  width: 16em;
  display: inline-block;
}

fieldset fieldset {
  float: left;
  margin-bottom: 10px;
  border: 0;
  background: white;
  padding: 5px;
  margin: 10px;
  width: auto;
}
fieldset fieldset legend {
  background: var(--grey-color-light);
  color: black;
  font-variant: small-caps;
  font-weight: 400;
  font-size: 18px;
  border: none;
  display: block;
  margin: 0 -5px;
  width: auto;
  padding: 3px;
}


/*==========DIVERS=======*/
img { /* images sans bordures */
  border: 0px;
  margin: 0px;
  padding: 0px;
  }


/*=========LIENS==========*/
/* 
J'intègre également les class des liens du forum 
en gros je veux tout de la même couleur
*/
a,a.mainmenu,a.nav,a.forumlink,a.cattitle,a.topictitle,a.postlink,a.gen,a.genmed,a.gensmall {
  color : var(--main-color); /* en accord avec le thème du forum, et moins agressif */
  text-decoration: none;
}
a:hover, a:visited:hover { /*met en valeur les liens qd on est dessus */
  color: var(--main-color-dark);
}
a:visited {
  color : var(--main-color);
}

/*=========ADRESSES MAILS CODEES==========*/
.mail {
  unicode-bidi: bidi-override;
  direction: rtl;
  cursor: pointer;
}

/*=========LIENS==========*/
.don {
  text-decoration: underline; 
  margin-left: 450px;
  position: relative; top: 15px;
}

/*=========WIKIS SURGISSANTS==========*/
.wiki {
	background-color: #f8fff4;
    z-index: 500000;
}

/*=========PUBLICITE==========*/
@media screen and (max-width: 940px) {
  .publicite {
    display: none;
  }
}

/*=========ADMINISTRATION==========*/
.admin {
  background: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 10px,
    rgba(255,0,0,0.4) 10px,
    rgba(255,0,0,0.4) 20px
  );
  box-shadow: inset 0 0 5px white;
  text-shadow: 0 0 2px white;
}

.button, a.button {
  background: var(--main-color);
  color: white;
  padding: 5px 10px;
  margin: 3px 5px;
  display: inline-block;
  font-variant: small-caps;
  font-size: 1.15em;
  white-space: nowrap;
  border-radius: 0;
  font-weight: 400;
  border: 0;
}
.button.small, a.button.small {
  padding: 0 2px;
  background: var(--grey-color-darkdark);
  margin: 2px 2px;
}
.button:hover, a.button:hover {
  color: var(--main-color-lightlight);
}

/*==================================================================*/
/*  ENTETE DE PAGE : Logo, identification & recherche               */
/*==================================================================*/
header {
	position: relative;
  background: white;
	z-index: 40000;
  font-size: 18px;
}
header > aside { /* Définit le bloc à positionner à droite */
	float: right;
	margin: 4px 5% 0 0;
  font-weight: 300;
}
header > aside .droite {
  float: right;
}
header form {
	display: block;
  margin: 4px 0 0 0;
}
header input[type=text] {
  border: solid 1px var(--main-color);
  border-right: none;
  height: 18px;
  padding: 2px 5px;
  vertical-align: middle;
  background: white;
  margin: 0;
}
header input[type=image] {
  background: var(--main-color);
  border: solid 1px var(--main-color);
  border-left: none;
  border-radius: 0 5px 5px 0;
  height: 18px;
  padding: 2px 4px;
  margin-left: -5px;
  vertical-align: middle;
}
header > aside a {
  padding: 0 5px;
}
header > #logo {
  height: 55px;
  width: 400px;
  padding-top: 5px;
  margin-left: 5%;
}
header > #logo > a:hover {
  background: transparent;
  height: 55px;
}
header > #logo img {
  height: 55px;
  margin-right: 20px;
  float: left;
}
header > #logo h1 {
  margin: 5px 0;
  font-size: 2em;
  font-weight: 300;
  color: black;
}
header > #logo h1 span {
  font-style: italic;
  color: var(--main-color);
}

@media screen and (max-width: 900px) {
  /* On inhibe les affichages non souhaités */
  header h1 {
    display: none;
  }
}

/*==================================================================*/
/*  MENUS                                                           */
/*==================================================================*/

/* ========== MENU DÉROULANT FIXE EN HAUT DE PAGE ========== */

/* Permet de gérer 2 menus identiques: */

/* 1/ Paramétrage du menu permanent en haut de page */
  #menu-normal  {
    z-index: 20000; /* Pour être au dessus du menu surgissant */
    position: relative; /* Pour que z-index s'applique */
    width: 100%;
  }
  #menu-normal > UL {
  }

/* 2/ Paramétrage du menu surgissant et fixe en haut de fenetre */
  #menu-scroll {
    z-index: 10000; /* Au dessus du reste de la page mais en dessous du haut */
    position: fixed; top: 0;
    height: 22px; /* Réserve un espace où rien n'est affiché mais qui est sensible à la souris */
    width: 100%;
  }
  #menu-scroll:hover {
    z-index: 30000;
  }
  #menu-scroll > UL {
    background: var(--main-color);
    display: none;
  }
  #menu-scroll:hover > UL {
    display: block;
  }

  #fin-entete {
    clear: both;
  }

/* ==========MENU POUR ECRANS ========== */
/* Paramétrage commun aux deux menus en mode ecran large */
@media screen and (min-width: 641px) {
  /* On inhibe les affichages non souhaités */
  nav > a,
  nav span,
  .mobile-only {
    display: none;
  }
  nav > ul {
    background: var(--main-color);
    border-top: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
    /*box-shadow: 0 0 5px black;*/
    clear: left;
    white-space: nowrap;
    display: block;
    font-size: 1em;
    font-weight: 400;
    text-align: left;
    margin: 0px;
    width: 90%;
    padding: 0px 5%;
    min-height: 32px;
  }
  nav > ul > li {
    border-right: 1px dashed var(--main-color-light);
    float: left; /* Distribue le premier niveau de menu de façon horizontale tout en permettant d'inclure des UL de type block */
    text-align: center;
    height: 32px;
    margin-bottom: 0;
  }
  nav > ul:after {
    content: "";
    clear: both;
    display: block;
  }
  nav > ul > li:hover {
    background: white;
  }
  nav > ul > li > ul {
    position: relative; top: -500px; /* On le cache loin mais on ne fait pas display:none pour avoir la largeur max une fois montré */
    left: 0;
    height: 0;
    padding: 0;
  }
  nav ul > li:hover > ul {
    top: 0; /* Montre le sous menu */
  }
  nav ul > li > ul > li {
    background: white;
    border-left: 1px solid var(--main-color);
    border-right: 1px solid var(--main-color);
    float: none;
    text-align: left;
    font-size: 0.9em;
    padding: 0;
    margin: 0 -1px;
  }
  nav ul > li > ul > li:last-child {
    border-bottom: 1px solid var(--main-color);
  }

  /* les liens en tout genre */
  nav a:hover {
    border-radius: 0;
    background: transparent;
  }
  nav a:visited, nav a, .sans-lien {
    color: white;
  }
  .sans-lien { /* Pour les éléments du menu sans lien */
    cursor: default;
  }
  nav > ul > li > a, nav > ul > li > .sans-lien {
    padding: 5px 0.5em;
    display: block;
    text-decoration: none;
  }
  nav > ul > li:hover > a, nav > ul > li:hover > .sans-lien {
    color: var(--main-color) !important;
  }
  nav > ul > li > ul > li > a, nav > ul > li > ul > li > a:visited {
    padding: 2px 0.5em;
    color: black;
    display: block;
  }
  nav > ul > li > ul > li > a:hover, nav > ul > li > ul > li > a:visited:hover {
    background: var(--main-color-lightlight);
    color: var(--main-color);
  }
  nav .admin > a:first-child {
    float:left;
  }
  nav .admin {
    width: 100px;
  }
}

/* ==========MENU POUR MOBILES ========== */
/* Menu simplifié pour petits écrans */
 
@media screen and (max-width: 640px) {
  /* On inhibe les affichages non souhaités */
  .screen-only,
  header,
  #menu-scroll,
  nav > ul {
    display: none;
    height: auto;
  }
  #menu-normal {
    width:100%;
  }
  nav {
    background: var(--main-color);
    padding: 5px 0;
    font-size: 16px;
    color: var(--main-color-lightlight);
  }
  nav > .bouton-menu {
    background: var(--main-color-lightlight);
    color: black;
    border-radius: 4px;
    float: right;
    padding: 2px 45px 2px 15px;
    margin-top: -2px;
    margin-right: 10px;
    cursor: pointer;
    font-variant: small-caps;
  }
  nav > .bouton-menu::after { /* Les 3 bandes signalant l'ouverture du menu */
    content: "";
    position: absolute;
    height: 0;
    top: 7px;
    right: 20px;
    box-shadow: 0 0px 0 1px black, 0 7px 0 1px black, 0 14px 0 1px black;
    width: 16px;
  }
  nav > a {
    font-variant: small-caps;
    margin-left: 10px;
  }
  nav a:visited, nav a {
    color: white;
  }
  nav a:visited:hover, nav a:hover {
    background: white;
    color: var(--main-color);
  }
  nav ul {
    display: none;
    text-align: left;
    padding: 0;
    font-weight: normal;
    border: none !important;
  }
  .deroule > ul {
    display: block;
  }
  nav > ul > li {
    text-align: left;
    border-bottom: 1px dashed var(--main-color-light);
    padding: 2px 10px;
  }
  nav > ul > li:last-child {
    border-bottom: none;
  }
  nav > ul > li:first-child {
    margin-top: 10px;
  }
  nav ul li * {
    cursor: pointer;
    font-size: 1em;
  }
  nav ul li ul {
    padding-left: 10px;
  }
  nav .admin {
    margin: 0 0 -6px 0;
    line-height: 24px;
  }
}

/* ==========MENU DU BAS ========== */
/* en bas, il y a un gros <footer> qui englobe la fin */
  footer {
    background: var(--main-color);
    color: var(--main-color-lightlight);
    clear: both;
    height: 20px;
    padding: 5px 0px;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
  }
  footer a, footer a:visited {
    color: white;
  }
  footer img { /* tout le bazar de pub de bas de page, en ligne! */
    display: inline;
    max-height: 17px;
    vertical-align: middle;
  }
  footer #validators a:hover {
    background: none;
  }

/*==================================================================*/
  .lien_ajout_commentaire {
    margin: 20px;
  }
  .lien_ajout_commentaire A {
    border-style: solid; 
    padding-right: 0.5em; 
    padding-left: 0.5em;
  }

/*==================================================================*/
/* LA PAGES DES MASSIFS (Accueil)                                   */
/*==================================================================*/

  #page-accueil {
    padding: 25px 0;
  }

  #page-accueil > h3 {
    display: none;
  }

  #page-accueil #presentation {
    margin: 0 5% 25px;
    padding: 8px;
  }

  #page-accueil #derouleur-photos {
    background: #303030;
    border: none;
    clear: both;
    padding: 8px 10px;
    min-height: 105px;
    box-shadow: inset 0 0 5px black;
    white-space: nowrap;
    overflow: hidden;
    border-radius: 0;
  }
  #page-accueil #derouleur-photos > .titre-categorie {
    background: none;
    color: white;
    margin: -4px -8px 8px -4px;
    border: 0;
  }
  #page-accueil #derouleur-photos > div > a:first-child {
    margin-left: -17px;
  }
  #page-accueil #derouleur-photos img {
    height: 105px;
  }
  #page-accueil #derouleur-photos a:hover {
    background: none;
  }

  #page-accueil #flexcontainer {
    width: 90%;
    margin: 25px auto 0;
    display: flex;
  }
  #page-accueil #accueil {
    flex: 1;
    box-shadow: 0 0 10px black;
    border-radius: 0;
    border: 1px solid var(--grey-color-darkdark);
    min-height: 300px;
  }
  #page-accueil .titre a {
    padding: 0 5px;
    color: var(--grey-color-darkdark);
    background: var(--grey-color-lightlight);
    font-weight: normal;
    border-radius: 5px;
    font-weight: 500;
    font-variant: small-caps;
    font-size: 1em;
    white-space: nowrap;
    float: right;
  }
  #page-accueil .titre a:hover {
    color: var(--main-color);
    background: white;
  }
  #page-accueil #nouvelles-accueil {
    margin-left: 25px;
    flex: 2;
  }
  #page-accueil #nouvelles-accueil .nouvelles em {
    position: absolute;
    left: 0px;
    bottom: 3px;
    background: white;
    margin-bottom: -3px;
  }
  #page-accueil #nouvelles-accueil .nouvelles li {
    padding-left: 95px;
  }
  #page-accueil #nouvelles-accueil .nouvelles .details small {
    font-size: 0.9em;
    display: none;
  }
  #page-accueil #nouvelles-accueil .nouvelles .details:hover small {
    display: inline;
  }
  #page-accueil #nouvelles-accueil .nouvelles .details:before {
    content:"i"; 
    color: white;
    font-family: serif;
    font-weight: bold;
    font-size: 0.9em;
    font-style: italic;
    background: var(--grey-color-dark);
    border-radius: 15px;
    padding: 2px;
    margin-left: 5px;
    display: inline-block;
    width: 18px;
    height: 18px;
    text-align: center;
  }
  #page-accueil #nouvelles-accueil .nouvelles .details:hover:before {
    background: var(--grey-color-darkdark);
  }
@media screen and (max-width: 700px) {
  #page-accueil #flexcontainer {
    width: 90%;
    margin: 25px auto 0;
    display: block;
  }
  #page-accueil #flexcontainer > * {
    width: auto;
  }
  #page-accueil #nouvelles-accueil {
    margin: 0;
    margin-top: 25px;
  }
}
@media screen and (max-width: 450px) {
  #page-accueil article, #page-accueil #flexcontainer {
    width: inherit;
    float: none;
    margin-left: 0;
    border-left: 0;
    margin-right: 0;
    border-right: 0;
  }
}

/*==================================================================*/
/* LES LISTES DE NOUVELLES (dont accueil)                           */
/*==================================================================*/

  .nouvelles em {
    font-weight: 300;
    background: var(--grey-color-lightlight);
    padding: 3px 10px;
  }
  .nouvelles li {
    padding: 3px;
    margin-top: 3px;
    position: relative;
  }
  .nouvelles li:after {
    content:""; 
    background: var(--grey-color-light); 
    position: absolute; 
    bottom: 0; 
    left: -3px; 
    height: 1px; 
    width: 30%;
  }
  .nouvelles li:last-child:after {
    display: none;
  }
  .nouvelles .icone {
    height: 22px;
    width: 22px;
    display: inline-block;
    margin-bottom: -4px;
  }
  .nouvelles .details small {
    font-size: 1em;
    font-style: italic;
  }


/*==================================================================*/
/* LA PAGE D'ÉDITION DES POINTS                                     */
/*==================================================================*/

  #page_modif_point #flexcontainer {
    margin: 0 0 0 5%;
    display: flex;
  }

  #page_modif_point .button:first-child {
    margin-left: 0;
  }

  #page_modif_point label {
    width: auto;
  }
  #page_modif_point fieldset {
    border: none;
    padding: 0;
    margin: 0;
  }
  #page_modif_point fieldset input, #page_modif_point select {
    vertical-align: middle;
  }

  #page_modif_point .section {
    margin-top: 25px;
    margin-bottom: 25px;
  }
  #page_modif_point .details small {
    font-size: 0.9em;
    display: none;
  }
  #page_modif_point .details:hover small {
    display: inline;
  }
  #page_modif_point .details:before {
    content:"i"; 
    color: white;
    font-family: serif;
    font-weight: bold;
    font-size: 0.9em;
    font-style: italic;
    background: var(--grey-color-dark);
    border-radius: 15px;
    padding: 2px;
    margin-left: 5px;
    display: inline-block;
    width: 18px;
    height: 18px;
    text-align: center;
  }
  #page_modif_point .details:hover:before {
    background: var(--grey-color-darkdark);
  }
  label.textarea {
    display: block;
    margin-bottom: 0;
    margin-top: 10px;
    padding: 6px 15px;
    background: var(--grey-color-dark);
  }
  label.textarea:first-letter{
    text-transform: capitalize
  }
  label.textarea + textarea {
    display: block;
    width: calc(100% - 26px);
    margin-top: 0;
  }
@media screen and (max-width: 900px) {
  #page_modif_point #flexcontainer {
    margin: 0 5% 25px 5%;
    display: block;
  }
}

/*==================================================================*/
/* LES PAGES POINTS                                                 */
/*==================================================================*/

  .fauxfieldset { /* DIV imite un fieldset */
    border: thin solid black;
    margin-top: 1em;
    /*padding: 1em;*/
  }
  .fauxfieldset-legend  { /* P imite un fieldset legend */
    float: left;
    margin: -0.2em 1em 0em 1em;
    /*margin-bottom: 1em;*/
    /*vertical-align: super;*/
  }
  .spacer { /* HR de spacer pour la mise en page, en particulier dans les fiches */
    clear: both;
    visibility: hidden;
    margin: 0px;
    padding: 0px;
  }
  /* ENCADRE de présentation de FICHE */
  .fiche_cadre .condense, .fiche_cadre .condense DD, .fiche_cadre .condense DT {
    display: inline;
    margin: 1px 5px 1px 0px;
  }
@media screen and (min-width: 641px) {
  .container_carte {
    float: right;
  }
}
  .photos {
    float: left; 
    margin: 1px; 
    position: relative; 
    max-width: 99.8%;
  }
  .text_sur_image {
    position:relative;
    font-size:18px;
    color:white;
    left:-110px;
    top:2px;
  }

/*==================================================================*/
/*                              CARTES                              */
/*==================================================================*/

  .choix_legende {
    float: left;
    width: 200px;
  }
  .carte /* utilisé par TOUTES les images cartes */
   {
    background-image: url(../images/sablier.png);
    background-position: center center;
    background-repeat: no-repeat;
  }
  #massifs {
    width:  800px;
	/* La hauteur est automatiquement ajustée mar Leaflet.MapAutoHeight.js pour faire un carré ou entrer dans la fenetre */
  }
  #vignette { /* utilisé par les petites des fiches points */
    width:  280px;
	/* La hauteur est automatiquement ajustée mar Leaflet.MapAutoHeight.js pour faire un carré ou entrer dans la fenetre */
  }
  #vignette-agrandie {
    width:  400px;
	/* La hauteur est automatiquement ajustée mar Leaflet.MapAutoHeight.js pour faire un carré ou entrer dans la fenetre */
  }
  #carte_edit, .carte_edit {
    min-width:  300px; 
	/* La hauteur est automatiquement ajustée mar Leaflet.MapAutoHeight.js pour faire un carré ou entrer dans la fenetre */
    min-height: 400px;
  }
  #nav_bloc_carte {
    width: 98.4%;
	/* La hauteur est automatiquement ajustée mar Leaflet.MapAutoHeight.js pour faire un carré ou entrer dans la fenetre */
    margin: 0 0.8%;
  }
  .nav_bloc {
    padding: 0 0.7%;
  }
  @media screen and (min-width: 1200px) {
    #nav_bloc_carte {
    float: right;
    width: 80%;
	/* La hauteur est automatiquement ajustée mar Leaflet.MapAutoHeight.js pour faire un carré ou entrer dans la fenetre */
    }
  }
  @media screen and (min-width: 700px) and (max-width: 1199px) {
    #nav_bloc_carte {
    width: 98.4%;
	/* La hauteur est automatiquement ajustée mar Leaflet.MapAutoHeight.js pour faire un carré ou entrer dans la fenetre */
    }
    .nav_bloc {
    display: table-cell;
    width: 33%;
	/* La hauteur est automatiquement ajustée mar Leaflet.MapAutoHeight.js pour faire un carré ou entrer dans la fenetre */
    }
  }
  /*Externalise le sélecteur de couche de la carte nav*/
  #carte_nav .baseLbl, #carte_nav .dataLbl , #carte_nav .dataLayersDiv,
  #switch_nav .baseLbl, #switch_nav .baseLayersDiv, #switch_nav .dataLbl {
    display: none;
  }
@media screen and (max-width: 640px) {
  #vignette,
  #vignette-agrandie {
    width: 100%;
    min-width: 450px;
  }
}
@media screen and (max-width: 550px) {
  #vignette,
  #vignette-agrandie {
    min-width: 300px;
  }
}