/* Style du bandeau */
@import url("../../../../../../../vues/style.css.php");

/* Forum de la largeur de la page */
.wrap {
	max-width: 100%;
}

/* Titre des forums de refuges */
.section-viewtopic .topic-title a:first-child {
	color: black !important;
}
.wri-link {
	font-size: 70%;
}